*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
  -webkit-appearance: button;
  background: none;
  border: 0;
  cursor: pointer;
}

button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: default;
}

[type='search'] {
  appearance: textfield;
  -webkit-appearance: textfield;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}
