header {
  background-color: #53389E;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

header .logo-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

header .logo-nav-wrapper .logo {
  width: 5.375rem;
  flex-shrink: 0;
}

header .logo-nav-wrapper .logo img {
  width: 100%;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav ul li a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

header .header-actions {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

header .header-actions .btn {
  height: 2.75rem;
  padding: 0 1.125rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 0.5rem;
}

.header-actions .btn-secondary {
  color: #ffffff;
}

.header-actions .btn-primary {
  background-color: #7f56d9;
  color: #ffffff;
}

.pricing .pricing-header {
  padding: 6rem 0 10rem 0;
  text-align: center;
  background-color: #53389E;
}

.pricing .pricing-header .container {
  height: 9.375rem;
  padding: 0 2rem;
  gap: 32rem;
}

.pricing .pricing-header .container .subtitle {
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #E9D7FE;
}

.pricing .pricing-header .container .title {
  height: 3.75rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.75rem;
  color: #ffffff;
  letter-spacing: -0.02em;
  margin-top: 0.75rem;
}

.pricing .pricing-header .container .description {
  height: 1.875rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: #E9D7FE;
  margin-top: 1.5rem;
}

.pricing-cards {
  height: 35.875rem;
  padding: 0 2rem;
  gap: 4rem;
}

.pricing-cards .container {
  margin-top: -6rem;
  width: 100%;
  gap: 2rem;
  display: flex;
  align-items: center;
}

.pricing-cards .container .card {
  width: 24rem;
  height: 35.875rem;
  border-radius: 2rem;
  border: 1px solid #E4E7EC;
  background: #FFFFFF;
  padding: 2rem;
}

.card .card-header {
  height: 13.25rem;
  padding: 2rem 0 0 0;
  gap: 1.5rem;
  text-align: center;
}

.badge-container {
  display: flex;
  justify-content: center;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 3px;
  align-items: center;
  gap: 0.4rem;
}

.badge-container .badge {
  display: flex;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  align-items: center;
  gap: 6px;
  padding: 5px;
  color: #475467;
}

.badge-info,
.badge-additional-info {
  font-size: 14px;
  font-weight: 500;
  color: #475467;
}

.dot-decoration-wrapper {
  border: 3px solid #f4ebff;
  border-radius: 50%;
}

.dot-decoration-wrapper .dot-decoration {
  width: 6px;
  height: 6px;
  background: #9e77ed;
  border-radius: 50%;
}

.card .card-header .price {
  height: 3.75rem;
  font-family: Inter;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #101828;
  margin-top: 1.5rem;
}

.card .card-header .description {
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #475467;
  margin-top: 1rem;
}

.card .card-features {
  width: 100%;
  display: flex;
  align-items: center;
  height: 15.625rem;
  padding: 2rem 0;
  border-top: 1px solid #E4E7EC;
  border-bottom: 1px solid #E4E7EC;
}

.card .btn {
  width: 20rem;
  height: 3rem;
  padding: 0.75rem 1.125rem;
  border-radius: 0.5rem;
  border: 2px solid;
  background: #7F56D9;
  color: #ffffff;
  margin: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.card-features ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}

.card-features ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #475467;
  font-size: 1rem;
  font-weight: 400;
}

.card-features ul li img {
  margin-right: 0.875rem;
}