header{
  background-color: #53389E;
  
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}
.logo-nav-wrapper{
  display: flex;
  align-items: center;
  gap: 2.5rem;

}
nav ul{
  gap:2rem;
  list-style: none;
  display: flex;
  align-items: center;
}
header nav ul li a {
  line-height: 1.5rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
    
}
header .header-actions{
  display: flex;
  align-items: center;
  gap:0.8rem;
}
header .header-actions .btn{
  height: 3rem;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  color:#ffffff;
}
header .header-actions .btn-primary{
  background-color: #7F56D9;
}

.pricing-header{
  background-color: #53389E;
  color:#E9D7FE;
  text-align: center;
  height: 25.375rem;
}
.pricing-header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.pricing-header .container .subtitle{
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.pricing-header .container .title{
  line-height: 3.75rem;
  font-size: 3rem;
  font-weight: 600;
  margin-top:.8rem;
  margin-bottom:1.5rem;
  color:#fff;
}
.pricing-header .container .description{
  line-height: 1.875rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.pricing-cards{
  margin-top:-5rem;
  margin-bottom:6rem ;
}
.pricing-cards .container{
  display: flex;
  gap:2rem;
}
.pricing-cards .container .card{
  border:1px solid #E4E7EC;
  padding:2rem;
  border-radius: 1rem;
  background-color: #fff;
  width: 100%;
}
.card-header{
  text-align: center;
}

.badge-container{
  border:1px solid #D0D5DD;
  border-radius: .6rem;
  padding:.3rem;
  display: flex;
  width: fit-content;
  align-items: center;
  margin:0 auto;
  font-weight: 500;
  font-size:.9rem;
  gap:.4rem;
  color: rgba(52, 64, 84, 1);
}
.badge-container .badge{
  border:1px solid #D0D5DD;
  border-radius: .4rem;
  padding:.125rem .5rem;
  display: flex;
  align-items: center;
  gap:.4rem;
}
.badge-container .badge .badge-info{
  line-height: 1.3rem;
}
.badge-container .badge .dot-decoration-wrapper{
  border:.19rem solid rgba(244, 235, 255, 1);
  border-radius: 50%;
}
.badge-container .badge .dot-decoration{
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  background-color: #9E77ED;
}

.card-header .price {
  color:rgba(16, 24, 40, 1);
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -2%;
  margin-top:1.5rem;
}
.card-header .description{
  color: rgba(71, 84, 103, 1);
  font-size:1rem;
  margin-top:.5rem;
}
.card-features{
  border-top:1px solid rgba(228, 231, 236, 1);
  border-bottom:1px solid rgba(228, 231, 236, 1);
  margin-top:2rem;
  padding:2.0625rem 0;
}
.card-features ul{
  gap:1rem;
  display: flex;
  flex-direction: column;
}
.card-features ul li{
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  gap:.8rem;
  color:rgba(71, 84, 103, 1);
}
.pricing-cards .container .card .btn{
  background-color: #7F56D9;
  height: 3rem;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  color: #ffffff;
  margin-top:2rem;
}